# Dissallow hotlinking to folders
Options Indexes

# Allows ModRewrite to work
Options FollowSymLinks

# Turn on rewrite engine
RewriteEngine On
RewriteBase /

# Redirect all requests to index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php